
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EjemploSession</title>
</head>
<body>
    <form action="/Home/EjemploSession" method="post">
        <div>
            <div>
                <strong>Session.Add("Mensaje", "Hola clase Session"): </strong>@Session["Mensaje"]
            </div>
            <div>
                <strong>Session["Mensaje2"]: </strong>@Session["Mensaje2"]
            </div>
            <div>
                <strong>Session["Mensaje3"]: </strong>@Session["Mensaje3"]
            </div>

            <div>
                <strong>Ingrese Mensaje 3: </strong><input type="text" name="mensaje3" />
            </div>

            <input type="submit" value="Guardar" />
        </div>
    </form>
</body>
</html>
