
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pasaje de datos</title>
</head>
<body>
    <a href="/Home/Index">Index</a> |
    <a href="/Home/ResumenPasajeDeDatos">Tabla con valores</a>
    <form action="/Home/IndexPost" method="post">
        <div>
            <div>
                ViewBag: @ViewBag.Mensaje
            </div>
            <div>
                ViewData: @ViewData["Mensaje"]
            </div>
            <div>
                TempData: @TempData["Mensaje"]
            </div>
            <div>
                <strong>Ingrese un nuevo Mensaje y será guardado: </strong><input type="text" name="mensaje" />
            </div>
            <input type="submit" value="Redirigir" />
        </div>
    </form>
</body>
</html>
